.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
.gradle-wrapper.jar

# Cache of project
.gradletasknamecache

/.metadata
/.metadata/
/.idea/
/.recommenders/
/target/
Prueba_Tecnica/.project
Prueba_Tecnica/.classpath
Prueba_Tecnica/.class
Prueba_Tecnica/.settings
Prueba_Tecnica/target/
Prueba_Tecnica/bin/
Prueba_Tecnica/idea/
Prueba_Tecnica/.metadata
Prueba_Tecnica/.metadata/
Prueba_Tecnica/*.log
Prueba_Tecnica/.csv
Prueba_Tecnica/Prueba_Tecnica.iml
~$Adherencia Pasarela de pagos.xlsx
*.DS_Store
*.project
*.iml
